@{
    ViewData["Title"] = "Home Page";
}
 
@model IEnumerable<studentData>    
    <h1>學生資料表</h1>
    <input type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Insert","Home")'" id="delete" value="新增資料" />
    <div>
        <table class="table">
            <tr>
                <td scope="col">
                    序號
                </td>
                <td scope="col">
                    姓名
                </td>
                <td scope="col">
                    手機
                </td>
                <td scope="col">
                    出生
                </td>
                <td scope="col">
                    總分
                </td>
                <td scope="col">
                    功能
                </td>
            </tr>
            @{ foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @item.id
                        </td>
                        <td scope="row">
                            @item.name
                        </td>
                        <td scope="row">
                            @item.phone
                        </td>
                        <td scope="row">
                            @item.birthday
                        </td>
                        <td scope="row">
                            @item.sum
                        </td>
                        <td scope="row">
                            <input type="button" class="btn btn-primary"onclick="location.href = '@Url.Action("Edit","Home",new { id=item.id})'" id="update" value="修改" />
                            <input type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Delete","Home",new { id=item.id})'" id="delete" value="刪除" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

<script>


</script>